@model IEnumerable<Zwitscher.Models.Media>

@{
    ViewData["Title"] = "Media";
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/Media.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/sidebar.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
    <div class="content-container">
        <div class="content-container-left"> 
            @Html.Partial("~/Views/Shared/sidebar.cshtml")

        </div>
        <div class="content-container-right">
            <div class="main-title">
                <h4 class="font-weight-bold">Media</h4>
            </div>
            <p>
                <input type="button" class="btn btn-outline-success btn-sm" value="Hinzufügen" onclick="location.href='@Url.Action("Upload", "Media")'">
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Preview
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FileName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FilePath)
                        </th>

                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id" title="Löschen" class="link-danger">
                                    <span class="material-icons-outlined material-icons.md-18">delete</span>
                                </a>
                            </td>
                            <td>
                                <img style="width: 30px; height: 30px;" src="~/Media/@item.FileName">
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FileName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FilePath)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>    
        <script src="~/js/Dashboard.js" asp-append-version="true"></script>
</body>
</html>
