@model IEnumerable<Zwitscher.Models.Vote>

@{
    ViewData["Title"] = "Votes";
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/Votes.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/sidebar.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
    <div class="content-container">
        <div class="content-container-left">

            @Html.Partial("~/Views/Shared/sidebar.cshtml")
        </div>
        <div class="content-container-right">
            <div class="main-title">
                <h4 class="font-weight-bold">Votes</h4>
            </div>
            <p>
                <input type="button" class="btn btn-outline-success btn-sm" value="Hinzufügen" onclick="location.href='@Url.Action("Create", "Votes")'">
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.isUpVote)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Post)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>

                                <a asp-action="Edit" asp-route-id="@item.Id" title="Bearbeiten" class="link-success">
                                    <span class="material-icons-outlined material-icons.md-18">edit</span>
                                </a>
                                <br>
                                <a asp-action="Details" asp-route-id="@item.Id" title="Details" class="link-dark">
                                    <span class="material-icons-outlined material-icons.md-18">info</span>
                                </a>
                                <br>
                                <a asp-action="Delete" asp-route-id="@item.Id" title="Löschen" class="link-danger">
                                    <span class="material-icons-outlined material-icons.md-18">delete</span>
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.isUpVote)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Post.Id)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script src="~/js/Dashboard.js" asp-append-version="true"></script>
</body>
</html>