@model IEnumerable<Zwitscher.Models.Role>

@{
    ViewData["Title"] = "Roles";
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/Roles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
    <div class="content-container">
        <div class="content-container-left"> 
            <!-- Sidebar -->
            <aside id="sidebar">
                <div class="sidebar-title">
                    <div class="sidebar-brand">
                        <span class="material-icons-outlined">inventory</span> Zwitscher
                    </div>
                </div>
                <ul class="sidebar-list">
                    <a href="https://localhost:7160/Home/Dashboard">
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">dashboard</span> Dashboard
                        </li>
                    </a>
                    <a href="https://localhost:7160/Users">
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">people</span> Users
                        </li> 
                    </a>
                    <a href="https://localhost:7160/Roles">
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">inventory_2</span> Role Manager
                        </li>
                    </a>
                    <a href="https://localhost:7160/Posts">  
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">fact_check</span> Posts
                        </li>
                    </a>
                    <a href="https://localhost:7160/Comments">  
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">comment</span> Comments
                        </li>
                    </a>
                    <a href="https://localhost:7160/Votes">  
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">poll</span> Votes
                        </li>
                    </a>
                    <a href="https://localhost:7160/Media">
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">perm_media</span> Media
                        </li>
                    </a>
                    <a href="~/Zwitscher">  
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">home</span> Home
                        </li>
                    </a>
                    <a href="#">
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">settings</span> Settings
                        </li>
                    </a>
                </ul>
            </aside>
            <!-- End Sidebar -->
        </div>
        <div class="content-container-right">
            <div class="main-title">
                <h4 class="font-weight-bold">Roles</h4>
            </div>
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div> 
    </div>   
    <script src="~/js/Dashboard.js" asp-append-version="true"></script>
</body>
</html>