@model IEnumerable<Zwitscher.Models.Comment>

@{
    ViewData["Title"] = "Comments";
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/Comments.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>
    <div class="grid-container">

        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-icons-outlined">inventory</span>Zwitscher
                </div>
            </div>

            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="https://localhost:7160/Home/Dashboard">
                        <span class="material-icons-outlined">dashboard</span> Dashboard
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="https://localhost:7160/Users">
                        <span class="material-icons-outlined">people</span>Users
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="https://localhost:7160/Roles">
                        <span class="material-icons-outlined">inventory_2</span>Role Manager
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="https://localhost:7160/Posts">
                        <span class="material-icons-outlined">fact_check</span> Posts
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="https://localhost:7160/Comments">
                        <span class="material-icons-outlined">comment</span> Comments
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#" target="_blank">
                        <span class="material-icons-outlined">poll</span> Reports
                    </a>
                </li>
                <li class="sidebar-list-item">
                        <span class="material-icons-outlined">settings</span> Settings
                    </a>
                </li>
            </ul>
        </aside>
        <!-- End Sidebar -->
        <!-- Main -->
        <main class="main-container">
            <div class="main-title">
                <p class="font-weight-bold">COMMENTS</p>
            </div>

            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CommentText)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Post)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CommentText)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Post.Id)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </main>
        <script src="~/js/Dashboard.js" asp-append-version="true"></script>
</body>
</html>