@model IEnumerable<Zwitscher.Models.User>

@{
    ViewData["Title"] = "Users";
}

<!DOCTYPE html>
<head>
    
    <link rel="stylesheet" href="/css/Users.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
    <body>
    <div id="partialModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Details</h5>
                    <button type="button" class="close" onclick="closeModal()" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closeModal()" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
        <div class="grid-container">

            @Html.Partial("~/Views/Shared/sidebar.cshtml")
            <!-- Main -->
            <main class="main-container">
                <div class="main-title">
                    <p class="font-weight-bold">Benutzer</p>
                </div>

                <p>
                <input type="button" class="btn btn-outline-success btn-sm" value="Hinzufügen" onclick="location.href='@Url.Action("Create", "Users")'">
            </p>
                <table class="table">
                    <thead>
                        <tr>
                        <th>

                        </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProfilePicture)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Username)
                            </th>
                        
                            
                            <th>
                                @Html.DisplayNameFor(model => model.Birthday)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Biography)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.isLocked)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Role)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Following)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FollowedBy)
                            </th>
                        
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                        <tr class="trhover" onclick="openShowDetailsModal('@item.Id')">
                            <td>

                                <a asp-action="Edit" asp-route-id="@item.Id" title="Bearbeiten" class="link-success">
                                    <span class="material-icons-outlined material-icons.md-18">edit</span>
                                </a>
                                <br>
                  
                                <a asp-action="Delete" asp-route-id="@item.Id" title="Löschen" class="link-danger">
                                    <span class="material-icons-outlined material-icons.md-18">delete</span>
                                </a>
                            </td>
                            <td>
                                    @{
                                        if (item.ProfilePicture is not null)
                                        {
                                        
                                            <img style="width: 100px; height: 100px;" src="~/Media/@item.ProfilePicture.FileName">
                                        }
                                        else
                                        {

                                            <img style="width: 100px; height: 100px;" src="~/Media/real-placeholder.png">
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                        
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.Birthday)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Biography)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.isLocked)
                            </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role.Name)
                            </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Following.Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FollowedBy.Count)
                                </td>
                            
                            
                        </tr>
                }
                    </tbody>
                </table>
            @*<input type="button" id="sendmessage" value="Send" />*@
            </main>    

            @section scripts {
                <!--Script references. -->
                <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
                <!--Reference the SignalR library. -->
                <script src="~/js/signalr/dist/browser/signalr.js"></script>

                @*<script>
                    $(function () {
                        // Reference the auto-generated proxy for the hub.

                        const connection = new signalR.HubConnectionBuilder()
                            .withUrl("/userHub")
                            .configureLogging(signalR.LogLevel.Information)
                            .build();

                        async function start() {
                            try {
                                await connection.start();
                                console.log("SignalR Connected.");
                            } catch (err) {
                                console.log(err);
                                setTimeout(start, 5000);
                            }
                        };
                        connection.onclose(async () => {
                            await start();
                        });
                        start();

                        $('#sendmessage').click(async () => {
                            // Call the Send method on the hub.
                            //await connection.invoke("TestConnection", "test");
                            await connection.invoke("TestConnection", "test");
                            //connection.testConnection("test");

                        });

                    });


                </script>
        *@
                        

                <script src="~/js/Dashboard.js" asp-append-version="true"></script>
            }
            <script>
            const openShowDetailsModal = function (userDetailId) {
                
                
                
                $.ajax({
                    type: "POST",
                    url: "/Users/PopupUserDetails",
                    data: {
                        "userID": userDetailId
                        
                    },
                    success: function (response) {
                        $("#partialModal").find(".modal-body").html(response);
                        $("#partialModal").modal('show');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
                
            };
            const closeModal = function () {

                $("#partialModal").modal('hide');

            };
            </script>
    </body>
</html>

