@model IEnumerable<Zwitscher.Models.User>

@{
    ViewData["Title"] = "Users";
}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/Users.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
    <body>
        <div class="grid-container">

            <!-- Sidebar -->
            <aside id="sidebar">
                <div class="sidebar-title">
                    <div class="sidebar-brand">
                        <span class="material-icons-outlined">inventory</span> Zwitscher
                    </div>
                </div>
                <ul class="sidebar-list">
                    <a href="https://localhost:7160/Home/Dashboard">
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">dashboard</span> Dashboard
                        </li>
                    </a>
                    <a href="https://localhost:7160/Users">
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">people</span> Users
                        </li> 
                    </a>
                    <a href="https://localhost:7160/Roles">
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">inventory_2</span> Role Manager
                        </li>
                    </a>
                    <a href="https://localhost:7160/Posts">  
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">fact_check</span> Posts
                        </li>
                    </a>
                    <a href="https://localhost:7160/Comments">  
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">comment</span> Comments
                        </li>
                    </a>
                    <a href="https://localhost:7160/Votes">  
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">poll</span> Votes
                        </li>
                    </a>
                    <a href="https://localhost:7160/Media">
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">perm_media</span> Media
                        </li>
                    </a>
                    <a href="~/Zwitscher">  
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">home</span> Home
                        </li>
                    </a>
                    <a href="#">
                        <li class="sidebar-list-item">
                            <span class="material-icons-outlined">settings</span> Settings
                        </li>
                    </a>
                </ul>
            </aside>
            <!-- End Sidebar -->
            <!-- Main -->
            <main class="main-container">
                <div class="main-title">
                    <p class="font-weight-bold">USERS</p>
                </div>

                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <table class="table"}">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ProfilePicture)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Username)
                            </th>
                        
                            <th>
                                @Html.DisplayNameFor(model => model.Password)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Birthday)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Biography)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.isLocked)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Role)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Following)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FollowedBy)
                            </th>
                        
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                        <tr onclick="location.href = '@Url.Action("Details","Users",new {@id = item.Id})'">
                                <td>
                                    @{
                                        if (item.ProfilePicture is not null)
                                        {
                                        
                                            <img style="width: 100px; height: 100px;" src="~/Media/@item.ProfilePicture.FileName">
                                        }
                                        else
                                        {

                                            <img style="width: 100px; height: 100px;" src="~/Media/real-placeholder.png">
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                        
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Birthday)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Biography)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.isLocked)
                            </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role.Name)
                            </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Following.Count)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FollowedBy.Count)
                                </td>
                            
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                }
                    </tbody>
                </table>
                <input type="button" id="sendmessage" value="Send" />
            </main>    

            @section scripts {
                <!--Script references. -->
                <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
                <!--Reference the SignalR library. -->
                <script src="~/js/signalr/dist/browser/signalr.js"></script>

                <script>
                    $(function () {
                        // Reference the auto-generated proxy for the hub.

                        const connection = new signalR.HubConnectionBuilder()
                            .withUrl("/userHub")
                            .configureLogging(signalR.LogLevel.Information)
                            .build();

                        async function start() {
                            try {
                                await connection.start();
                                console.log("SignalR Connected.");
                            } catch (err) {
                                console.log(err);
                                setTimeout(start, 5000);
                            }
                        };
                        connection.onclose(async () => {
                            await start();
                        });
                        start();

                        $('#sendmessage').click(async () => {
                            // Call the Send method on the hub.
                            //await connection.invoke("TestConnection", "test");
                            await connection.invoke("TestConnection", "test");
                            //connection.testConnection("test");

                        });

                    });

                </script>
                        

                <script src="~/js/Dashboard.js" asp-append-version="true"></script>
            }
    </body>
</html>

